{% extends 'base.html' %}

{% load static %}

{% block main_title %} Latest Posts {% endblock %}

{% block main_content %}
    {% for post in latest_posts %}
        <div class="card" style="margin-bottom: 2rem;">
            {% static 'images/default_image.png' as default_image %}
            <img src="{{ post.image | default:default_image }}" alt="{{ post.title }}" title="{{ post.title }}" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.header }}</p>
          </div>
        </div>
    {% endfor %}
{% endblock %}