{% extends 'base.html' %}

{% load static %}

{% block main_title %} {{ photo.name }} {% endblock %}

{% block main_content %}
     <div class="card" style="margin-bottom: 2rem;">
            {% static 'images/default_image.png' as default_image %}
            <img src="{{ post.image | default:default_image }}" alt="{{ post.title }}" title="{{ post.title }}" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.header }}</p>
                <p class="card-text">{{ post.body }}</p>
                <span>Categories: </span>
                 {% for category in post.categories.all %}
                <span><i>{{ category.name }}</i> </span>
                {% endfor %}
          </div>
          <div class="card-footer text-muted">
                Published: {{ post.creation_date }} by {{ post.owner.first_name }} {{ post.owner.last_name }}
              </div>
     </div>
{% endblock %}